<html>
    <head>
	<title>{% block title %} {% endblock %}</title>

    	<link rel="stylesheet" href="/css/validationEngine.jquery.css" type="text/css"/>

    	<script type="text/javascript" src="/scripts/jquery-latest.js"></script>
        <script type="text/javascript" src="/scripts/jquery.validationEngine-en.js"></script>
    	<script type="text/javascript" src="/scripts/jquery.validationEngine.js"></script>
    	
	{% block css %} {% endblock %}
	{% block script %} {% endblock %}
    </head>
    <body>
	{% block body %}
	    
	{% endblock%}
    </body>
</html>

